<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div id="slidemenu">
    <% if user_signed_in? %>
    <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
       <span>Bookers</span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to 'Home',user_path(current_user), class: "glyphicon glyphicon-home"%>
      </li>

      <li>
        <%= link_to 'Users',user_path(current_user.id), class: "glyphicon glyphicon-user" %>
      </li>

      <li>
        <%= link_to 'Books',books_path, class: "glyphicon glyphicon-book"%>
      </li>



      <li>
        <%= link_to 'Logout', destroy_user_session_path,method: :delete,
         class: "glyphicon glyphicon-log-out" %>
      </li>

    <% else %>
      <li>
        <%= link_to "sign up", new_user_registration_path, class: "glyphicon glyphicon-edit" %>
      </li>
      <li>
        <%= link_to "login", new_user_session_path,class: "glyphicon glyphicon-log-in" %>
      </li>
    <% end %>
  </ul>
</div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
